# Android SDK path
sdk.dir=C:\\Users\\Santhosh\\AppData\\Local\\Android\\Sdk

# Release signing config
MYAPP_RELEASE_STORE_FILE=my-release-key.keystore
MYAPP_RELEASE_KEY_ALIAS=my-key-alias
MYAPP_RELEASE_STORE_PASSWORD=yourpassword
MYAPP_RELEASE_KEY_PASSWORD=yourpassword

VERSION_CODE=1
VERSION_NAME=1.0.0